.footer{
    background-color: $header-footer-bg;
}
.footer_container{
    display: flex;
    align-items: center;
    padding: 4rem;

}
.footer-bottom {
    background-color: $text-color-1;
    &__container{
        & p{
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            color: #777;
        }

    }
}
